<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>404 - Page Not Found</title>
  </head>
  <body
    class="bg-[#020202] text-[#DDCF96] font-medium mx-auto max-w-7xl h-full"
  >
    <!-- Main -->
    <main
      class="grid min-h-full place-items-center bg-transparent px-6 py-24 sm:py-32 lg:px-8"
    >
      <div class="text-center">
        <p class="text-base font-semibold">404</p>
        <h1
          class="mt-4 text-balance text-5xl font-semibold tracking-tight sm:text-7xl"
        >
          Page not found
        </h1>
        <p
          class="mt-6 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8"
        >
          Sorry, we couldn’t find the page you’re looking for.
        </p>
        <div class="mt-10 mx-auto">
          <a
            href="/"
            class="rounded-md bg-[#DDCF96]/50 px-4 py-3 text-sm font-semibold text-white shadow-sm hover:bg-[#DDCF96] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#DDCF96]/50 duration-300"
            >Go back home</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
